title: "Softweal"
url: "https://softweal.space"
description: "Softweal - Improve your web experiences"
lang: "tr-TR"


google_site_verification: "ZQRB3Uf52WeAvIUh8boo5FlRhP0UO-I9SfYT1arFoBA"

date_locale: tr

collections:
  authors:
    output: true

permalink: /blog/:title.html

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jemoji
  - jekyll-paginate-v2
  #- jekyll-tagging
  - jekyll-spaceship
  - jekyll-date-localization

jekyll-date-localization:
  locale: "tr_TR"
  format: "%d %B %Y"

highlighter: rouge

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false

include:
  - assets/css/main.css

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENSE
  - .gitignore
  - .github
  - .jekyll-cache
  - .jekyll-metadata
  - .sass-cache
  - .vscode
  - .DS_Store
  - .idea
  - .env
  - package.json
  - package-lock.json
  - tailwind.config.js
  - .prettierrc
  - CNAME
  - node_modules

# Where things are
jekyll-spaceship:
  # default enabled processors
  processors:
    - table-processor
    - mathjax-processor
    - plantuml-processor
    - mermaid-processor
    - polyfill-processor
    - media-processor
    - emoji-processor
    - element-processor
  mathjax-processor:
    src:
      - https://polyfill.io/v3/polyfill.min.js?features=es6
      - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
    config:
      tex:
        inlineMath:
          - ["$", "$"]
          - ['\(', '\)']
        displayMath:
          - ["$$", "$$"]
          - ['\[', '\]']
      svg:
        fontCache: "global"
    optimize: # optimization on building stage to check and add mathjax scripts
      enabled: true # value `false` for adding to all pages
      include: [] # include patterns for math expressions checking (regexp)
      exclude: [] # exclude patterns for math expressions checking (regexp)
  plantuml-processor:
    mode: default # mode value 'pre-fetch' for fetching image at building stage
    css:
      class: plantuml
    syntax:
      code: "plantuml!"
      custom: ["@startuml", "@enduml"]
    src: http://www.plantuml.com/plantuml/svg/
  mermaid-processor:
    mode: default # mode value 'pre-fetch' for fetching image at building stage
    css:
      class: mermaid
    syntax:
      code: "mermaid!"
      custom: ["@startmermaid", "@endmermaid"]
    config:
      theme: default
    src: https://mermaid.ink/svg/
  media-processor:
    default:
      id: "media-{id}"
      class: "media"
      width: "100%"
      height: 350
      frameborder: 0
      style: "max-width: 600px; outline: none;"
      allow: "encrypted-media; picture-in-picture"
  emoji-processor:
    css:
      class: emoji
    src: https://github.githubassets.com/images/icons/emoji/
