@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@config "./tailwind.config.js";

@theme {
    --font-roboto: "Roboto", sans-serif;
}

::selection {
    background-color: hsl(var(--p));   /* DaisyUI primary rengi */
    color: hsl(var(--pc));            /* DaisyUI primary-content rengi */
}

/* type checkbox */
.task-list-item-checkbox {
    @apply bg-amber-500;
}

body {
    @apply bg-red-500 text-primary-content;
}
