---
layout: default
title: Softwale - Blog
---
<div>
  <h1 class="blog-title">Bloglar</h1>
  <ul class="posts">
    <div class="post">
      {% for post in site.posts %}
      <li class="post__container">
        <a class="post__title" href="{{ post.url }}">
          {{ post.title }}
        </a>
        {{ post.date | date_to_string }}

        {% if post.author %}
        - <a class="post__author" href="/authors/{{ post.author }}">
          {{ post.author }}
        </a>
        {% endif %}

        {{ post.excerpt }}
      </li>
      {% endfor %}
    </div>
  </ul>
</div>