<footer class="footer sm:footer-horizontal bg-primary text-primary-content items-center p-4">
  <aside class="grid-flow-col items-center">
    <p>Kopyalanamaz © {{ 'now' | date: '%Y' }} - Tüm hakları saklıdır</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://instagram.com/softweal" class="text-primary-content hover:text-secondary">
      <i class="ai-instagram-fill"></i>
    </a>
    <a href="https://linkedin.com/company/softweal" class="text-primary-content hover:text-secondary">
      <i class="ai-linkedin-box-fill"></i>
    </a>
  </nav>
</footer>
