<!--
<nav>
    {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;" {% endif %}>
        {{ item.name }}
    </a>
    {% endfor %}
</nav>


<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a href="/">{{ site.name }}</a>
        </div>
        <nav>
            <div class="nav-mobile">
                <a id="nav-toggle" href="#!"><span></span></a>
            </div>
            <ul class="nav-list">
                {% for item in site.data.navigation %}
                <li>
                    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;" {% endif %}>
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

</section>


in a element {% if page.url == item.link %}style="color: red;" {% endif %}

 <li class="navbar__item">
            <a href="#" class="navbar__link">

            </a>
        </li>
-->

<nav class="navbar">
    <ul class="navbar__menu">
        {% for item in site.data.navigation %}
        <li class="navbar__item">
            <a href="{{ item.link }}" class="navbar__link">
                <i data-feather="{{ item.icon }}"></i>
                <span>{{ item.name }}</span>
            </a>
        </li>
        {% endfor %}

        <li class="navbar__item navbar__bottom">
            <a class="navbar__link">
                <i data-feather="moon"></i>
                <span>Karanlık Mod</span>
            </a>
        </li>
    </ul>
</nav>