// Navbar
$borderRadius: 10px;
$spacer: 1rem;
$background: #EBF6ED;
$primary: #0c4040;
$text: #6a778e;
$white: #fff;
$shadow: rgba(0, 0, 0, 0.2);
$linkHeight: $spacer * 3.5;
$timing: 250ms;
$transition: $timing ease all;

@mixin gooeyEffect($i) {
    @keyframes gooeyEffect-#{$i} {
        0% {
            transform: scale(1, 1);
        }

        50% {
            transform: scale(0.5, 1.5);
        }

        100% {
            transform: scale(1, 1);
        }
    }
}

body {
    background: $background;
    height: 200vh;
}

.navbar {
    $ref: &;
    position: fixed;
    top: $spacer;
    left: $spacer;
    background: $background;
    border-radius: $borderRadius;
    padding: $spacer 0;
    box-shadow: 0 10px 40px $shadow;
    height: calc(100vh - #{$spacer*4});

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $linkHeight;
        width: $spacer * 5.5;
        color: $text;
        transition: $transition;

        span {
            position: absolute;
            left: 100%;
            transform: translate(-($spacer*3));
            opacity: 0;
            color: $primary;
            background: $white;
            padding: $spacer *0.75;
            transition: $transition;
            border-radius: $borderRadius * 1.75;
        }

        &:hover {
            color: $white;

            span {
                opacity: 1;
                transform: translate(0);
            }
        }
    }

    &__menu {
        position: relative;
    }

    &__item {
        &:last-child {
            &:before {
                content: '';
                position: absolute;
                opacity: 0;
                z-index: -1;
                top: 0;
                left: $spacer;
                width: $linkHeight;
                height: $linkHeight;
                background: $primary;
                border-radius: $borderRadius * 1.75;
                transition: $timing cubic-bezier(1, 0.2, 0.1, 1.2) all;
            }
        }

        @for $i from 1 to 12 {

            &:first-child:nth-last-child(#{$i}),
            &:first-child:nth-last-child(#{$i})~li {
                &:hover {
                    ~li:last-child:before {
                        opacity: 1;
                    }
                }

                &:last-child:hover:before {
                    opacity: 1;
                }

                @for $j from 1 to $i {

                    &:nth-child(#{$j}):hover,
                    &:nth-child(#{$j}):focus,
                    &:nth-child(#{$j}):focus-within {
                        ~li:last-child:before {
                            @include gooeyEffect($j);
                            top: (100% / $i) * ($j - 1);
                            animation: gooeyEffect-#{$j} $timing 1;
                        }
                    }
                }

                &:last-child:hover:before,
                &:last-child:focus:before,
                &:last-child:focus-within:before {
                    @include gooeyEffect($i);
                    top: (100% / $i) * ($i - 1);
                    animation: gooeyEffect-#{$i} $timing 1;
                }
            }
        }
    }

    &__bottom {}
}

$font--color:#ffffff;
$font--color--active:#000000;

.site-content{
	max-width: 1100px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    color: $primary;

    &__headline{
        font-size: 72pt;
    }
    &__slugline{
        font-size: 18pt;
    }
    &__hr{
        width: 20%;
        height: 1px;
        background: $primary;
        margin: $spacer 0;
    }
}
