
@import "_layout";
@import "_typography";
@import "_colors";
@import "_variables";
@import "_reset";

@import "_scroll";
@import "_fonts";

html{
    scroll-behavior: smooth;
}

.template {
    margin-left: $spacer * 7;
    margin-top: $spacer;
}