<div class="navbar bg-opacity-30 sticky top-0 z-50 bg-clip-padding shadow-sm backdrop-blur-sm backdrop-filter">
  <div class="flex-1">
    <a class="btn btn-ghost text-primary text-xl font-bold" href="/">Softweal</a>
  </div>

  <!-- Desktop Menu (Hidden on Mobile) -->
  <div class="flex-none hidden lg:block">
    <ul class="menu menu-horizontal px-1">
      {% for item in site.data.navigation %}
      
      {% assign current_clean = page.url | remove: "index.html" | remove: ".html" %}
      {% assign menu_clean = item.link | remove: "index.html" | remove: ".html" %}

      {% comment %} 2. Adım: Her iki tarafın da sonuna '/' ekle ve çift '//' oluşursa teke düşür {% endcomment %}
      {% assign current_norm = current_clean | append: "/" | replace: "//", "/" %}
      {% assign menu_norm = menu_clean | append: "/" | replace: "//", "/" %}

      {% assign is_active = false %}
      {% if current_norm == menu_norm %}
        {% assign is_active = true %}
      {% endif %}
      
      <li>
        <a href="{{ item.link }}" class="btn-outline {% if is_active %}text-primary font-bold{% endif %}">
          <span>{{ item.name }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="dropdown dropdown-end flex-none lg:hidden">
    <div tabindex="0" role="button" class="btn btn-ghost rounded-field">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        class="inline-block h-5 w-5 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
        </path>
      </svg>
    </div>
    <ul tabindex="-1" class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 w-52 p-2 shadow-sm">
      {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link }}" class="{% if page.url == item.link %}text-primary{% endif %}">
          <span>{{ item.name }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>