<!-- in a element {% if page.url == item.link %}style="color: red;" {% endif %} -->

<div class="navbar bg-opacity-30 sticky top-0 z-50 bg-clip-padding shadow-sm backdrop-blur-sm backdrop-filter">
  <div class="flex-1">
    <a class="btn btn-ghost text-primary text-xl font-bold" href="/">Softweal</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      {% for item in site.data.navigation %}
        <li>
          <a href="{{ item.link }}" class="btn-outline {% if page.url == item.link %}text-primary{% endif %}">
            <!-- <i data-feather="{{ item.icon }}"></i> -->
            <span>{{ item.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
